doctype html
head
  meta(charset='utf-8')
  title AQMS Home
  link(rel='stylesheet' href='style.css')
include navbar.pug
.main-content
  .index-container
    .image
      img.img-set(src='aqms.jpg')
    .description
      .des-title Air Quality Monitoring, Prediction, and Warning System
      .des-box &nbsp;&nbsp;
      br
      .des-data
        | A unique state-of-the-art low-cost air-quality monitoring,
        | prediction and warning system that can be installed in remote areas. This
        | IoT-based monitoring system can monitor 7 pollutants, namely PM 1.0, PM 2.5,
        | PM 10, CO, SO2, NO2, and Ozone, and also 5 weather parameters, namely temperature,
        | atmospheirc pressure, relative humidity, wind speed and wind direction.
        br
        br
        |           The system is also capable of generating SMS alerts to subscribed user, when
        |           certain thresholds is breached. The system comes with a state of the art prediction
        |           module, which uses ensemble of various deep learning models to predict future pollutants concentration.
