.nav-bar-left
  img(src='desthp.png')
  br
  img(src='iit_m.png')
  br
  a(href='/') HOME
  br
  br
  a.active(href='dashboard') DASHBOARD
  br
  br
  a(href='research') RESEARCH WORK
  br
  br
  a(href='#') CONTACT US
  br
  br
